@import "variables.css";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--colorPrimary);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    max-width: var(--maxWidth);
    margin: 0 auto;
  }
}

h1#titleHead {
  background-color: var(--backgroundColorHeader);
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  color: var(--colorTextSecondary);
  font-family: var(--headerTextFont);
}

header {
  width: 100%;
}

footer {
  margin-top: 1rem;
  padding: 0;
  bottom: 0;
  position: relative;
  text-align: center;
  width: 100%;
  color: var(--colorTextSecondary);
  background-color: var(--backgroundColorSecondary);
  flex-shrink: 0;
}

nav {
  background-color: var(--backgroundColorSecondary);
  text-align: center;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--colorTextSecondary);
  margin: 0.1rem;
  display: block;
  padding: 0;
  border-bottom: 0.1rem solid var(--colorNavActive);
}

nav a.active {
  color: var(--colorNavActive);
  font-size: 1.2rem;
}

nav a:last-child {
  border-bottom: none;
}

main {
  padding: 1rem;
  max-width: 100%;
  flex: 1 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  margin-bottom: 0.1rem;
}

section div:not(.menu-card) p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--colorTextQualities);
}

div.menu-card {
  padding: 1rem;
  background-color: var(--backgroundColorCard);
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.5rem var(--menuCardBoxShadow);
}

div.menu-card h2 {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--backgroundColorHeader);
  color: var(--colorTextSecondary);
  border-radius: 0.8rem;
  font-family: var(--headerTextFont);
}

div.menu-card p {
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

div.menu-card .price {
  display: block;
  padding: 1rem auto;
  margin: 0.3rem;
  background-color: var(--backgroundColorHeader);
  color: var(--colorTextSecondary);
  border: color(var(--backgroundColorSecondary));
}

blockquote {
  margin: 0;
  padding: 0.5rem;
  font-style: italic;
  padding-left: 1rem;
  background-color: var(--backgroundColorBlockQuote);
  border-radius: 0.8rem;
}

@media (min-width: 768px) {
  nav a {
    display: inline-block;
    margin: 0 1.25rem;
    border-bottom: none;
  }
}
