<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Restaurant KEA: Home</title>
  </head>
  <body>
    <header>
      <h1 id="titleHead">Restaurant KEA</h1>
      <nav aria-label="Main navigation">
        <a class="{{ active_index }}" href="/">Home</a>
        <a class="{{ active_menu }}" href="/menu">Menu</a>
        <a class="{{ active_contact }}" href="/contact">Contact</a>
      </nav>
    </header>
  </body>
</html>
