<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/contact.css" />
    <title>Restaurant KEA: Contact</title>
  </head>
  <body>
    <header>
      <h1 id="titleHead">Restaurant KEA</h1>
    </header>
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="index.html" title="Home page">Home</a></li>
        <li><a href="menu.html" title="Menu page">Menu</a></li>
        <li>
          <a href="contact.html" title="Contact page" class="selected">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <main class="contact-page">
      <section class="contact-info">
        <img
          src="../static/assets/restaurant_assets/img/map.jpg"
          alt="Map"
          id="imgMap"
        />
        <p>Guldbergsgade 29N <br />2200 Copenhagen</p>
        <p>Phone no.: <span class="span-contact-info">20 82 53 70</span></p>
        <p>
          Email: <span class="span-contact-info">info@restaurantkea.dk</span>
        </p>
      </section>

      <section class="contact-form">
        <form action="submit">
          <fieldset class="form-container">
            <legend>Contact form</legend>

            <label for="fullName">Full name</label>
            <input type="text" name="fullName" id="fullName" required />

            <label for="phone">Phone no.</label>
            <input type="tel" name="phone" id="phone" required />

            <label for="email">Email</label>
            <input type="email" name="email" id="email" min="1" required />

            <label for="persons">Persons</label>
            <input type="number" name="persons" id="persons" required min="1" />

            <label for="date">Date and time</label>
            <input type="datetime-local" name="date" id="date" required />

            <label for="furtherInfo">Further information</label>
            <textarea name="furtherInfo" id="furtherInfo"></textarea>

            <button type="submit">Send</button>
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 KEA Development</p>
    </footer>
  </body>
</html>
