<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Restaurant KEA: Home</title>
  </head>
  <body>
    <header>
      <h1>Restaurant KEA</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main>
      <section>
        <img
          src="static\assets\restaurant_assets\img\kea_restaurant.jpg"
          alt="Restaurant KEA"
        />
        <p>
          We provide a wide variety of fine dishes and beverages at moderate
          prices. Located in one of the trendiest areas of Copenhagen,
          Restaurant KEA has been at the forefront of Denmark's culinary life
          for the past decade. Let us take you on a journey of taste that you
          will never forget. You will not only not regret it, but you will feel
          an urge to spread the good news around to your friends and family. So
          amazing is the food experience at Restaurant KEA. We look forward to
          serving you.
        </p>
        <div>
          <p>
            High quality food Excellent location Attentive personnel Wonderful
            music Amazing wines Reasonable prices KEA Restaurant
          </p>
        </div>
      </section>
      <section>
        <div>
          <p>
            Dining at Restaurant KEA has truly been one of the greatest
            experiences of my life. Words cannot express the pleasure that I
            felt while tasting these amazing flavours. It makes all other
            restaurants pale in comparison, in Denmark and elsewhere. -Mette J.
            Christensen, The Food Connoisseur
          </p>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 KEA Development</p>
    </footer>
  </body>
</html>
